@import "global/normalize";
@import "global/fonts";
@import "global/variables";
@import "global/sprite-svg";
@import "global/mixins";
@import "global/icons";
@import "global/scaffolding";
@import "global/general";

.full-bg-color {
    background-color: $c-primary;
}

// HEADER

// верхняя черная линия
.header-top-line {
    min-height: 30px;
    font-size: $f-sub-menu-size;
    color: #fff;
    &__currency {
        padding: 0 10px;
    }
    &__search {
        padding: 0 10px;
        cursor: pointer;
    }
}

.custom-care {
    align-self: center;
    &__text {
        text-transform: uppercase;
    }
}

.user-info {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    align-items: center;
}

.header-top-line__account {
    position: relative;
    padding: 8px 15px 8px 35px;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    &::after {
        position: absolute;
        top: 9px;
        left: 11px;
        content: "";
        width: 15px;
        height: 13px;
        background-image: url(../img/icons/contact---user.png);
    }
}
// верхняя черная линия


.logo-and-menu {
    padding-top: 20px;
}
.logo {
    padding-top: 20px;
}

.menu {
    margin-top: 13px;
    align-self: center;
}
.menu-list__item {
    position: relative;
    display: inline-block;
    margin-left: 32px;
    padding-bottom: 15px;
    &>a>i {
        margin-left: 6px;
    }
    &>a:hover {
        text-decoration: underline;
    }
    &>a:hover + .item-drop-menu {
        opacity: 1;
        top: 20px;
        transition: 0.5s opacity;
    }
}

// Выпадающее меню
.item-drop-menu {
    border-top: 10px solid tra;
    position: absolute;
    top: -9999px;
    left: -5px;
    width: 100px;
    opacity: 0;
    &__list-item {
        background-color: #fd936e;
        padding: 5px 5px;
        border: 1px solid #d8d8d8;
    }
    &__list-item:hover {
        background: #de6b43;
        padding: 6px 4px 4px 6px;
        transition: 0.5s all;
    }
    &__list-item > a {
        text-decoration: none;
        &:hover {
        text-decoration: underline;
        }
    }
}

// Выпадающее меню



.bucket-info {
    width: 215px;
    margin-top: 20px;
    &>select {
        font-size: 12px;
        width: 100%;
        padding: 10px 11px 10px 8px;
        border: 1px solid #d7d7d7;
        color: #949393;
    }
    & > select > option {
        color: #949393;
    }
    &__items {
        font-size: 12px;
        color: #949393;
        position: relative;
        border: 1px solid #d7d7d7;
        border-top: 0;
        padding-top: 11px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-bottom: 10px;
        text-align: right;
        &::after {
            position: absolute;
            top: 4px;
            left: 8px;
            content: '';
            width: 27px;
            height: 25px;
            background-image: url(../img/sprite-icons.png);
        }
    }
    &__items-text {
        display: inline-block;
        padding-right: 7px;
        margin-right: 6px;
        border-right: 2px solid #d7d7d7;
    }
    &__items-money {
        display: inline-block;
        padding-right: 12px;
    }
}

// HEADER




// CONTENT

// CONTENT




// FOOTER

// FOOTER
