@import "global/normalize";
@import "global/fonts";
@import "global/variables";
@import "global/sprite-svg";
@import "global/mixins";
@import "global/icons";
@import "global/scaffolding";
@import "global/general";
.full-bg-color {
    background-color: $c-primary;
}

.second-bg-color {
    background-color: #ededed;
}

// HEADER
// верхняя черная линия
.header-top-line {
    min-height: 30px;
    font-size: $f-sub-menu-size;
    color: #fff;
    &__currency {
        padding: 0 10px;
    }
    &__search {
        padding: 0 10px;
        cursor: pointer;
    }
}

.custom-care {
    align-self: center;
    &__text {
        text-transform: uppercase;
    }
}

.user-info {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    align-items: center;
}

.header-top-line__account {
    position: relative;
    padding: 8px 15px 8px 35px;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    &::after {
        position: absolute;
        top: 9px;
        left: 11px;
        content: "";
        width: 15px;
        height: 13px;
        background-image: url(../img/icons/contact---user.png);
    }
}

// верхняя черная линия
.logo {
    padding-top: 20px;
}

.menu {
    margin-top: 13px;
    align-self: center;
}

.menu-list__item {
    position: relative;
    display: inline-block;
    margin-left: 32px;
    &>a>i {
        margin-left: 6px;
    }
    &>a:hover {
        text-decoration: underline;
    }
    &:hover .item-drop-menu {
        opacity: 1;
        top: 20px;
        transition: 0.5s opacity;
    }
}

// Выпадающее меню
.item-drop-menu {
    border-top: 10px solid transparent;
    position: absolute;
    top: -9999px;
    left: -5px;
    width: 100px;
    opacity: 0;
    z-index: 10;
    &__list-item {
        background-color: #fd936e;
        padding: 5px 5px;
        border: 1px solid #d8d8d8;
    }
    &__list-item:hover {
        background: #de6b43;
        padding: 6px 4px 4px 6px;
        transition: 0.3s all;
    }
    &__list-item>a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

// Выпадающее меню
.bucket-info {
    width: 215px;
    margin-top: 20px;
    &>select {
        font-size: 12px;
        width: 100%;
        padding: 10px 11px 10px 8px;
        border: 1px solid #d7d7d7;
        color: #949393;
    }
    &>select>option {
        color: #949393;
    }
    &__items {
        font-size: 12px;
        color: #949393;
        position: relative;
        border: 1px solid #d7d7d7;
        border-top: 0;
        padding-top: 11px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-bottom: 10px;
        text-align: right;
        &::after {
            position: absolute;
            top: 4px;
            left: 8px;
            content: '';
            width: 27px;
            height: 25px;
            background-image: url(../img/sprite-icons.png);
        }
    }
    &__items-text {
        display: inline-block;
        padding-right: 7px;
        margin-right: 6px;
        border-right: 2px solid #d7d7d7;
    }
    &__items-money {
        display: inline-block;
        padding-right: 12px;
    }
}

// SLIDER
.slick-slider {
    position: relative;
    margin-top: 20px;
}

.slick-slider img {
    width: 100%;
    height: auto;
}

.slick-prev-arrow {
    position: absolute;
    top: calc(50% - 58px);
    left: 0;
    width: 30px;
    height: 117px;
    background-color: #fff;
    z-index: 2000;
    ;
}

.slick-next-arrow {
    position: absolute;
    top: calc(50% - 58px);
    right: 0;
    width: 30px;
    height: 117px;
    background-color: #fff;
    z-index: 2000;
}

.slide {
    position: relative; // height: 100%;
    // max-height: 440px;
}

.shop-now {
    position: absolute;
    top: 71%;
    left: 24%;
    width: 156px;
    height: 54px;
    box-shadow: 0 3px 0 #dd6b44;
    background-color: #fd926d;
    font-family: "Helvetica Neue LT Std", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    & i {
        transform: rotate(90deg);
    }
    &:hover {
        text-decoration: underline;
    }
}

// SLIDER
// HEADER
// CONTENT
.subscribe-line {
    margin-top: 75px;
    min-height: 55px;
    font-size: 12px;
    color: #6b6b6b;
    margin-bottom: 40px;
    &__text {
        position: relative;
        align-self: center;
    }
    &__input {
        margin-left: 10px;
        padding-right: 26px;
        padding-left: 9px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    &__input+button {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        padding-top: 6px;
        width: 28px;
        height: 28px;
        background-color: #fd936e;
        box-shadow: 0 3px 0 #dd6b44;
    }
}

.social {
    justify-content: center;
    align-items: center;
    &__text {
        margin-right: 15px;
    }
    &__text-link {
        padding-left: 23px;
        padding-right: 23px;
        padding-top: 15px;
        padding-bottom: 16px;
        background-color: #fff;
        display: inline-block;
    }
    &__text-link-twitter {
        padding: 16px 23px;
        background-color: #ededed;
    }
    &__text-link-pinterest {
        padding: 15px 23px;
        background-color: #fff;
    }
}

.best-items {
    min-height: 340px;
    margin-bottom: 50px;
    &__wrap {
        width: 50%;
    }
    &__fourth-items {
        position: relative;
    }
    &__fourth-items button {
        position: absolute;
        top: 73%;
        left: 10%;
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        width: 98px;
        height: 29px;
        background-color: #4fafa0;
        cursor: pointer;
        & i {
            transform: rotate(90deg);
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

// TABS
.tab-block {
    margin-bottom: 23px;
}

.tab-block>input {
    display: none;
    &:checked+label {
        background-color: #fd936e;
        color: white;
    }
}

input[id="tab-1"]:checked~.content-tabs .content-tabs__article-1,
input[id="tab-2"]:checked~.content-tabs .content-tabs__article-2,
input[id="tab-3"]:checked~.content-tabs .content-tabs__article-3,
input[id="tab-4"]:checked~.content-tabs .content-tabs__article-4 {
    display: block;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 18px 18px 16px 18px;
}

.content-tabs {
    position: relative;
    & article {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #fd936e;
        padding: 30px 0;
        display: none;
    }
}

// TABS
// TABS SLIDER
.slide-item {
    font-size: 12px;
    width: 220px !important;
    height: 395px;
    margin: 0 30px;
    background-color: white;
    &__photo {
        margin-bottom: 10px;
    }
    &__text {
        margin-bottom: 12px;
        text-align: center;
    }
    &__price {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    &__add {
        display: block;
        padding: 11px 30px 12px 10px;
        background-color: #fd936e;
        color: white;
        text-align: center;
        cursor: pointer;
    }
}

// TABS SLIDER
// CONTENT
// FOOTER
// FOOTER